*.pyc
*.idea
*.db
*.db-*
*.sass-cache
*.orig
config/config.ini
node_modules/
/static/dist
venv/
src/
_build
_build_html
beehive.*
/accounts.txt
/static/js/*.map
/static/js/map/*.map
/static/forts/pogom
/static/js/interface/bar/sidebar.js
/static/js/interface/bar/sidebar.js.map
/static/js/interface/bar/spawnbar.js
/static/js/interface/bar/spawnbar.js.map
/static/js/interface/bar/statsbar.js
/static/js/interface/bar/statsbar.js.map
/static/js/assets/sprites.js
/static/js/assets/sprites.js.map
/static/js/assets/strings.js
/static/js/assets/strings.js.map
/static/js/data/entities.js
/static/js/data/entities.js.map
/static/js/data/spawn.js
/static/js/data/spawn.js.map
/static/js/map/core.js
/static/js/map/overlay/labels.js
/static/js/map/overlay/labels.js.map
/static/js/map/overlay/markers.js
/static/js/map/overlay/markers.js.map
/static/js/map/overlay/mylocation.js
/static/js/map/overlay/mylocation.js.map
/static/js/map/overlay/search.js
/static/js/map/styles.js
/static/js/members/googlesignin.js
/static/js/members/googlesignin.js.map
/static/js/members/server.js
/static/js/members/server.js.map
/static/js/members/visual.js
/static/js/members/visual.js.map
/static/js/environment.js
/static/js/notifications.js
/static/js/store.js
/static/js/utils.js
/static/dist/rs
