#Provide Pokemon Go Credentials here. This section must be filled out!

[Authentication]
# ptc or google
Service: ptc
Username: unused
Password: unused

[Database]
# Possible values: sqlite, mysql
Type: sqlite
# The following are only required if it's not sqlite
Database_Name: 
Database_User: 
Database_Pass: 
Database_Host: 

[Search_Settings]
Steps: 10
Location: 50.108,14.513
#Time delay before beginning new scan
Scan_delay: 1
# Disable Map elements
disable_pokemon:
disable_pokestops:
disable_gyms: 

[Misc]
#you need a google maps api key to run this!
Google_Maps_API_Key : AIzaSyCaAo-UcoeeWRAhb9xSQPLfW0UdOR1PF8A
Host: 127.0.0.1
Port: 5000
